@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: #665d1e;
}

.leafleft {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #3f6b1b;
  margin-left: 50px;
  z-index: -10;
  margin-top: -90px;
  border-radius: 90% 0 90% 0;
  transform: rotate(-90deg);
}
.leafmiddle {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #8a9847;
  margin-left: 93px;
  z-index: -11;
  margin-top: -100px;
  border-radius: 90% 0 90% 0;
  transform: rotate(-45deg);
}
.leafright {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #3f6b1b;
  margin-left: 125px;
  z-index: -10;
  margin-top: -90px;
  border-radius: 90% 0 90% 0;
  transform: rotate(-180deg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
//   min-height: 620px;
  padding: 50px;
}

.calculator {
  width: 323px;
  padding: 30px 33px 33px 30px;
  background-color: #f8b88b;
  border-radius: 4rem;
  box-shadow: 10px 10px 1px 3px rgba(0, 0, 0, 0.15);
}

.display {
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 30px;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-auto-rows: 60px;
  grid-gap: 6px;
}

button {
  border-radius: 0.5em;
  box-shadow: 5px 5px 1px 1px rgba(241, 0, 0, 0.15);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

input:not([type="text"]):hover {
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.3);
}

input:not([type="text"]):active,
input[data-active] {
  box-shadow: none;
  transform: translate(1px, 1px);
}

input[type="text"] {
  display: block;
  width: 100%;
  background: none;
  box-shadow: none;
  cursor: text;
  text-align: right;
}

input[type="text"][name="history"] {
  color: rgba(255, 0, 132, 0.7);
}

input[type="text"][name="output"] {
  font-size: 50px;
}

// input.all-clear {
//   background-color: #e2dee0;
//   color: #a3a347;
// }

button.number {
  background-color: #ffffd2;
}

button.operator {
  background-color: #ffdaa2;
}

button.decimal {
  background-color: #c1f0b7;
}

button.equal-sign {
  grid-row: span 3;
  background-color: #ffdaa2;
}

button.zero {
  grid-column: span 2;
}
